@media screen and (max-width:768px) {
    .navbar .navbar-nav a.active::after {
        width: 50px;
    }
}

@media screen and (min-width:768px) {
    header h1 {
        font-size: 3rem;
        font-weight: 200;
    }

    .navbar .navbar-nav a.active::after {
        width: 50px;
    }
}

@media screen and (min-width:992px) {

    /* .contact-us .container {
        padding-inline: 180px;
    }

    .container {
        padding-inline: 180px;
    } */
    .navbar .navbar-nav a.active::after {
        width: 100%;
    }
}

@media screen and (min-width:1200px) {
    header h1 {
        font-size: 4.4rem;
        font-weight: 200;
    }
}